body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
h1 {
  font-size: 45px;
}

h2 {
  font-size: 35px;
}

.orange-color {
  color: orange;
}

.flexible-container {
  display: flex;
  margin-bottom: 50px;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}

.half-width img {
  width: 90%;
}

p {
  width: 600px;
  text-align: justify;
  color: #525050;
}

.link-button {
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(orangered, darkred);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  margin-top: 7px;
}

.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.experience-item {
  width: 40%;
  margin-left: 5%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
  padding-top: 10px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 10px;
}

.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: 100px;
}

#web-dev-ex {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

#full-stack-ex {
  border-left: 7px solid;
  border-color: rgb(248, 136, 92);
}

footer p {
  width: 100%;
  text-align: center;
}
