body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
h1 {
  font-size: 45px;
}

.orange-color {
  color: orange;
}

section {
  display: flex;
  margin-bottom: 50px;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}

.half-width img {
  width: 90%;
}

.half-width p {
  width: 600px;
  text-align: justify;
}

.link-button {
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(orange, #ff3f18);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  margin-top: 7px;
}

.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
